@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kdam+Thmor+Pro&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.flexbox{
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
}

.div1{
    background-color: rgb(255, 228, 78);
    width: 100px;
    height: auto;
    flex: 1;
    text-align: center;
}

.div2{
    background-color: blue;
    height: auto;
    background-image: url("html-color-codes-color-tutorials-hero.jpg");
    background-size: cover;
    flex: 1.4;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    box-shadow: 11px 23px 19px 12px rgba(0,0,0,0.46);
    margin: 40px;
    padding-bottom: 5px;
    border-radius: 9px;
}

.form-horizontal{
    height: auto;
}

.form-icon{
    height: 20%;
    border-radius: 100%;
    width: 150px;
    background: rgb(227,87,54);
    background: linear-gradient(90deg, rgba(227,87,54,1) 23%, rgba(228,98,26,1) 58%, rgba(255, 228, 78,1) 100%);
}

h2{
    color:rgb(227,87,54,1)
}

label{
    margin-top: 25px;
}

button{
    background-color: rgb(227,87,54,1);
    width: 8em;
    height: 50px;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro';
    border: 0px;
    border-radius: 5px;
    color: white;
    letter-spacing: 4px;
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
}

.label-check{
    text-decoration: underline;
}

@media(max-width:768px){
    .flexbox{
        flex-direction: column-reverse;
        
    }
    .div1{
        width:100%;
        flex: 1;
    }
    .div2{
        
        flex: 1;
    }
}